<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a href="https://www.facebook.com/ddomi1228/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        </div>
        <div class="col">
            <a href="https://www.instagram.com/ddomi1228/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
        <div class="col">
            <a href="https://twitter.com/?lang=en" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
        </div>
    </div>
</div>