div.container-fluid {
    background-color: #888888 !important;
    height: 200px;
}


ion-icon:hover {
    color: white !important;
}

ion-icon {
    font-size: 3.5rem;
    color: rgb(0, 0, 0) !important;
    transition: ease-in-out 0.15s;
}

div.row {
    height: 100%;
}

div.col {
    display: grid;
    place-items: center;
}