div,
a {
    font-size: 25px;
    color: #000000 !important;
}

a.nav-link:hover {
    color: white !important;
    cursor: pointer !important;
}

img {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -2px;
    left: 0px;
}

nav.navbar-expand-lg {
    background-color: #acacac !important;
}

nav.navbar-light {
    outline: none !important;
    color: black !important;
    background-color: transparent;
}

button {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
}