div,
a {
    font-size: 25px;
    color: #000000 !important;
}

a:hover {
    color: white !important;
    cursor: pointer !important;
    transition: ease-in-out 0.15s;
}

img {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -2px;
    left: 0px;
}

nav.navbar-expand-lg {
    background-color: #acacac !important;
}

a.navbar-brand {
    padding: 10px 10px;
}

button {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

ion-icon {
    display: inline-block;
    padding: 0px 5px;
    font-size: 28px;
}

span.badge {
    color: rgb(255, 255, 255);
    font-size: 18px;
    background-color: #bd0000;
    padding: 5px 8px;
    position: relative;
    bottom: 6.5px;
    right: 0px;
}

#home {
    position: relative;
    top: 2px;
}
#card {
    position: relative;
    top: 4px;
}
#cart {
    position: relative;
    top: 3.5px;
}
#acc,
#login {
    position: relative;
    top: 4.5px;
}