<div class="container">
    <h2 class="text-center">Shop</h2>
    <hr>
    
    <div class="row">
        <div *ngFor=" let product of products" class="col-md-4">
            <div class="card text-center my-3 w-100" style="width: 18rem;">
                <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.make }} {{ product.model }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.make }}</h5>
                    <h5 class="card-title">{{ product.model }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a (click)="onAdd(product.id)" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>