table button {
    padding: 0px 8px !important;
    line-height: 1.5 !important;
}

table button:focus {
    box-shadow: none;
}

h1 {
    font-size: 50px;
    padding-top: 50px;
}

h2 {
    font-size: 50px;
}

hr {
    width: 20%;
    margin: auto;
    margin-bottom: 50px;
    padding-bottom: 5px;
}


p {
    font-size: 30px;
    padding-bottom: 50px;
}

.container {
    min-height: 68vh;
}

#delete,
#id {
    width: 5% !important;
}

#make,
#model {
    width: 25% !important;
}

#quantity,
#price {
    width: 20% !important;
}

#trash {
    position: relative;
    top: 2px;
}