<div *ngIf="this.shopService.temp" class="container">
    <h2 class="text-center">Cart</h2>
    <hr>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th id="id" scope="col">#</th>
                <th id="make" scope="col">Make</th>
                <th id="model" scope="col">Model</th>
                <th id="quantity" scope="col">Quantity</th>
                <th id="price" scope="col">Price</th>
                <th id="delete"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of carts">
                <th scope="row">{{ cart.id }}</th>
                <td>{{ cart.make }}</td>
                <td>{{ cart.model }}</td>
                <td><button (click)="decrease(cart.id)" type="button" class="btn btn-danger">-</button> {{ cart.quantity }} <button (click)="increase(cart.id)" type="button" class="btn btn-primary">+</button></td>
                <td>${{ cart.price * cart.quantity }}</td>
                <td><button (click)="delete(cart.id)" type="button" class="btn btn-danger"><ion-icon id="trash" name="trash"></ion-icon></button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4" scope="row">Total</th>
                <th colspan="2">${{ this.total }}</th>
            </tr>
        </tfoot>
    </table>
    <button routerLink="/shop" type="button" class="btn btn-primary">Back to shopping</button>
    <button routerLink="" type="button" class="btn btn-success mx-3">Checkout</button>
</div>
<div *ngIf="!this.shopService.temp" class="container text-center">
    <h1>Your cart is empty.</h1>
    <p>You can browse our shop by clicking the button down below.</p>
    <button routerLink="/shop" type="button" class="btn btn-primary">Back to shopping</button>
</div>